html, body {
    margin: 0px;
    padding:  0px;
    background: #ddf1f9;
}

.canvasStyle {
    background: #f3f5f5;
}

.button {
    border: none;
    color: transparent;
    background: transparent;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
