html, body {
    margin: 0px;
    padding:  0px;
    background: #ddf1f9;
}

.canvasStyle {
    background: #f3f5f5;
}

.buttonPlay {
    background-color:#1796ac;
}

.buttonPause {
    background-color: #126e77;
}

.buttonOver {
    background-color: #ee3344;
}
.buttonWin {
    background-color:#1796ac;
}

.buttonPlay, .buttonPause, .buttonOver, .buttonWin {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
.buttonPlay:hover, .buttonPause:hover, .buttonOver:hover, .buttonWin:hover {
    color: yellow;
}
